body{
    background-color: #5D6C78;
}

h3{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(50%);
    font-size: 40px;
}

.navbar{
    overflow: hidden;
    background-color: #aadfe7; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

.navbar a {
    float: left;
    display: block;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    padding: 13px 10px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover{
    background-color: gold;
    color: ghostwhite;
}
header{
    position: relative;
}

header h3{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.zalando-sans-expanded {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    position: absolute;
    right: 20px;
    top: 150px;

    width: 520px;
    opacity: 0.8;
    z-index: 1;
}

.container{
    position: relative;

    margin-top: 180px;   
    margin-left: 40px;

    padding: 24px;
    width: 700px;

    background-color: #939EAA;
    border-radius: 24px;
    font-size: 28px;
    line-height: 1.4;

    z-index: 3;

    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.container2{
    position: relative;

    margin-top: 30px;   
    margin-left: 40px;

    padding: 24px;
    width: 700px;

    background-color: #8E99A5;
    border-radius: 24px;
    font-size: 26px;
    line-height: 1.4;

    z-index: 3;

    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}
