*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #5D6C78;
    font-family: Arial, sans-serif;
}

h3{
    text-align: center;
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    top: 20px; 
}

header{
    position: relative;
    height: 120px; 
}

.navbar{
    overflow: hidden;
    background-color: #aadfe7; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

.navbar a {
    float: left;
    display: block;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    padding: 13px 10px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover{
    background-color: gold;
    color: ghostwhite;
}

.zalando-sans-expanded {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img{
    position: absolute;
    right: 0;
    top: 160px; 
    padding: 16px;
    width: 650px;
    opacity: 0.9;
    z-index: 1;
    pointer-events: none;
}

.c{
    border-radius: 24px;
    margin: 50px;
    padding: 24px;
    width: 700px;

    background-color: #939EAA;
    font-size: 30px;

    float: left;
    position: relative;
    z-index: 5;

    margin-right: 680px;
}
