body{
    background-color: #5D6C78;
}
h3{
text-align: center;
    position: absolute;
    left: calc(50%);
    transform: translateX(50%);
background-color: cadetblue;
font-size: 40px;
}
.navbar{overflow:hidden;
background-color: #aadfe7 ;}

.navbar a {
float: left;
display: block;
color:rgba(0, 0, 0, 1) ;
text-align: center;
padding: 13px 10px;
text-decoration: none;
}
.navbar a :hover{
    background-color:gold ;
    color:ghostwhite ;
}
header{
  position: relative;
  background-color: #3F858C;
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

header h3{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #000000ff;
  padding: 10px 0;
}

.zalando-sans-expanded {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
    font-size: 40px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.t{
    border-radius: 24px;
    margin: 50px auto;
    padding: 10px 16px;
    width: 990px;
    box-sizing: border-box;
    background-color:#939EAA ;
    font-size: 30px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);

    

}